@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1>Dołącz do rodziny!</h1>
    <p>
        Musisz być członkiem rodziny, aby wykonać tę akcję.
    </p>
    <a class="btn btn-primary" asp-controller ="Family" asp-action="Index">Przejdź do rodziny</a>
</header>
