@using Microsoft.AspNetCore.Identity
@using HomERP.Domain.Authentication

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="col-xs-12">
    <div class="row text-right">
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="label label-success">
                @UserManager.GetUserName(User)
                @if (User.IsInRole("Administrator"))
                {
                    @:(administrator)
                        }
            </a>
        }
        else
        {
            <a asp-area="" asp-controller="Account" asp-action="Login" title="Zaloguj się" class="label label-warning">
                nie zalogowany
            </a>
        }
    </div>
</div>

<div class="col-xs-12">
    <div class="row">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("HomERP", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="collapse navbar-collapse" id="mynavbar-content">
                    <ul class="nav navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Finanse <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Płatności", "Index", "Payment")
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        @Html.ActionLink("Konta", "Index", "CashAccount")
                                    </li>
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Portfele</a>
                                    </li>
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Kredyty</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Podsumowanie</a>
                                    </li>
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Oszczędzanie</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dokumenty<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Odebrane</a>
                                    </li>
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Do zapłaty <span class="badge">2</span></a>
                                    </li>
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Wysłane</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Majątek<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Wyposażenie</a>
                                    </li>
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Biblioteka</a>
                                    </li>
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Przeglądy i remonty</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="navbar-link" href="/Family">Rodzina</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kalendarz<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li style="text-decoration-line:line-through">
                                        <a href="#">Przypomnienia <span class="badge">3</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                    <button class="btn btn-default btn-outline-success navbar-btn navbar-link" type="submit">Wyloguj się</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Account" asp-action="Login">Zaloguj się</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Register">Załóż konto</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>