@model HomERP.WebUI.Models.FamilyViewModels.FamilyOverviewVM

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Nazwa: @Model.Family.Name
    <hr />
    Członkowie:
    <hr />
    @foreach(var member in Model.FamilyMembers)
    {
        @member.UserName
        <hr />
    }
</body>
</html>
